body {
  margin: 0;
  background: #f7f7f7;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.header {
  width: 100%;
  background: #E9ECEE;
  height: 90px;
  position: fixed;
  color: #797979;
  top: 0; }
  .header .logo {
    margin-top: -45px;
    margin-left: -20px; }
  .header a {
    text-decoration: none;
    color: grey; }
    .header a:hover {
      color: black; }
  .header .nav {
    display: inline-block;
    position: fixed;
    top: 40px;
    background: #f7f7f7; }
    .header .nav .title {
      font-size: 50px;
      background: #E9ECEE; }
    .header .nav .navi {
      display: inline-block;
      min-width: 100px;
      text-align: center;
      background: #E9ECEE;
      padding: 10px; }

.sidebar {
  position: fixed;
  left: 0;
  top: 200px; }
  .sidebar .navi {
    padding: 10px;
    margin-bottom: 3px;
    background: white;
    width: 200px;
    cursor: pointer; }
    .sidebar .navi a {
      text-decoration: none;
      color: grey; }
      .sidebar .navi a:hover {
        color: black; }

.content {
  margin-top: 170px;
  margin-left: 237px;
  margin-bottom: 100px; }
  .content .content-1 {
    background: white;
    padding: 20px; }
    .content .content-1 .express {
      background: #797979;
      color: #FBF9F1;
      width: 200px;
      line-height: 200px;
      border-radius: 100%;
      text-align: center;
      font-size: 30px;
      display: inline-block; }
    .content .content-1 .title {
      display: inline-block;
      padding-left: 30px;
      font-size: 50px;
      font-weight: bold; }
      .content .content-1 .title .sub {
        font-weight: normal;
        font-size: 15px; }
  .content .content-2 {
    margin-top: 20px; }
    .content .content-2 .tutorial {
      background: white;
      display: inline-block;
      width: 32%;
      margin: 0 10px 30px 0; }
      .content .content-2 .tutorial p {
        letter-spacing: 3px;
        padding: 0px 20px;
        color: grey; }
      .content .content-2 .tutorial .logo {
        text-align: center;
        line-height: 200px;
        font-size: 30px;
        border-top: 2px solid black;
        border-bottom: 2px solid black; }
      .content .content-2 .tutorial .title {
        padding: 10px 20px;
        font-size: 20px;
        color: grey;
        letter-spacing: 1px;
        cursor: pointer; }
        .content .content-2 .tutorial .title:hover {
          color: black; }
  .content .group {
    margin-bottom: 20px; }
    .content .group input {
      width: 240px;
      padding: 10px; }
    .content .group button {
      padding: 10px; }
  .content table {
    width: 98%;
    text-align: left;
    border-bottom: 2px solid black; }
    .content table thead {
      background: black;
      color: white; }
      .content table thead th {
        width: 170px;
        padding: 10px; }
    .content table tbody {
      border-top: 2px solid red; }
    .content table button {
      min-width: 80px;
      margin-right: 10px;
      cursor: pointer; }
  .content .content-intro, .content .content-template, .content .content-form, .content .content-crud-1, .content .content-crud-2, .content .content-crud-3, .content .content-paging {
    margin-top: 20px;
    background: white;
    padding: 20px; }
    .content .content-intro xmp, .content .content-template xmp, .content .content-form xmp, .content .content-crud-1 xmp, .content .content-crud-2 xmp, .content .content-crud-3 xmp, .content .content-paging xmp {
      margin: 0;
      padding-left: 10px;
      border-left: 10px solid grey;
      background: #f7f7f7; }
    .content .content-intro img, .content .content-template img, .content .content-form img, .content .content-crud-1 img, .content .content-crud-2 img, .content .content-crud-3 img, .content .content-paging img {
      width: 100%; }
    .content .content-intro p, .content .content-template p, .content .content-form p, .content .content-crud-1 p, .content .content-crud-2 p, .content .content-crud-3 p, .content .content-paging p {
      line-height: 30px; }

.footer {
  background: #E9ECEE;
  height: 50px;
  padding: 20px; }
  .footer .referen, .footer .me {
    display: inline-block;
    width: 200px; }
  .footer a {
    text-decoration: none;
    color: grey; }
    .footer a:hover {
      color: black; }

/*# sourceMappingURL=style.css.map */
