body {
	margin:0;
	background: #f7f7f7;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



.header{
	width:100%;
	background:#E9ECEE;
	height:90px;
	position: fixed;
	color:#797979;
	top:0;
	.logo{
		margin-top: -45px;
    	margin-left: -20px;
	}
	a{text-decoration:none; color:grey;&:hover{color:black;}}
	.nav{
		display: inline-block;
		position: fixed;
		top:40px;
		background: #f7f7f7;
		.title{
			font-size: 50px;
			background:#E9ECEE;
		}
		.navi{
			display: inline-block;
			min-width:100px;
			text-align: center;
			background:#E9ECEE;
			padding: 10px;
		}
	}
}
.sidebar{
	position:fixed;
	left:0;
	top:200px;
	.navi{
		padding:10px;
		margin-bottom: 3px;
		background: white;
		width: 200px;
		cursor: pointer;
		a{text-decoration:none; color:grey;&:hover{color:black;}}
	}
}
.content{
	margin-top:170px;
	margin-left: 237px;
	margin-bottom:100px;
	.content-1{
		background: white;
		padding:20px;
		.express{
			background: #797979;
			color:#FBF9F1;
			width: 200px;
			line-height: 200px;
			border-radius: 100%;
			text-align: center;
			font-size: 30px;
			display: inline-block;
		}
		.title{
			display: inline-block;
			padding-left: 30px;
			font-size: 50px;
			font-weight: bold;
			.sub{
				font-weight: normal;
				font-size: 15px;
			}
		}
	}
	.content-2{
		margin-top: 20px;
		.tutorial{
			background: white;
			display: inline-block;
			width: 32%;
			margin:0 10px 30px 0; 
			p{letter-spacing:3px;padding:0px 20px; color:grey;}
			.logo{
				text-align: center;
				line-height: 200px;
				font-size: 30px;
				border-top :2px solid black;
				border-bottom :2px solid black;
			}
			.title{
				padding:10px 20px;
				font-size: 20px;
				color:grey;
				letter-spacing: 1px;
				cursor: pointer;
				&:hover{
					color: black;
				}
			}
		
		}
	}
	.group{
		margin-bottom: 20px;
		input{width:240px;padding:10px;}
		button{padding:10px;}
	}
	table{
		width: 98%;
		text-align: left;
		border-bottom:2px solid black;
		thead{
			background: black;
			color:white;

			th{width:170px;padding:10px;}
		}
		tbody{
			border-top:2px solid red;
		}
		button{min-width:80px; margin-right:10px;cursor:pointer;}
	}
	.content-intro, .content-template, .content-form, .content-crud-1,.content-crud-2,.content-crud-3,.content-paging{
		margin-top: 20px;
		background: white;
		padding:20px;
		xmp{
			margin: 0;
			padding-left:10px;
			border-left:10px solid grey;
			background: #f7f7f7;
		}
		img{width:100%;}
		p{line-height:30px;}
	}
}
.footer{
	background:#E9ECEE;
	height:50px;
	padding:20px;
	.referen, .me{display: inline-block;width:200px;}
	a{text-decoration:none; color:grey;&:hover{color:black;}}
}

