<div class="sidebar">
	<div class="navi"><a href="#">Index</a> </div>
	<div class="navi"><a href="#">Add</a> </div>
	<div class="navi"><a href="#">View</a> </div>
	<div class="navi"><a href="#">Update</a> </div>
	<div class="navi"><a href="#">Delete</a> </div>
	<div class="navi"><a href="#">Penutup</a> </div>
</div>
<div class="content">
	<div class="content-1">
		<div class="express"><i>CRUD</i></div>
		<div class="title">
			CRUD Aplikasi Dengan Express.js
			<div class="sub">
				Belajar membuat aplikasi web dengan menggunakan framework express.js
			</div>
		</div>
	</div>
	<div class="content-crud-1">
		<h2>Membuat Schema</h2>
		<p>Sudah buat Schema pada sebelumnya</p>
		<h2>Membuat halaman index User</h2>
		<p>Membuat router pada controller</p>
<xmp>
router.get('/try', function(req,res,next){
  res.render('try', {
    title: "TRY"
  })
})
</xmp>
		<p>Code pada try.handlebars</p>
<xmp>
<div class="sidebar">
	<div class="navi" id="Add">Add</div>
	<div class="navi" id="view">View</div>
</div>
<div class="content">
	<table id="table">
		<thead>
			<th>No.</th>
			<th>Username</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Action</th>
		</thead>
		<tbody id="showData">
			
		</tbody>
	</table>
</div>
<form id="formUser"  class="content">
	<h3>Add</h3>
	<div class="group">
		<input type="text" name="username" placeholder="Username" required>
	</div>
	<div class="group">
		<input type="password" name="password" placeholder="Password" required>
	</div>
	<div class="group">
		<input type="email" name="email" placeholder="Email" required>
	</div>
	<div class="group">
		<input type="number" name="phone" placeholder="Phone" required>
	</div>
	<div class="group">
		<button type="submit" id="submitUser">Submit</button>
	</div>
</form>
<form id="formUpdate"  class="content">
	<h3>Update</h3>
	<div class="group">
		<input type="text" name="username" placeholder="Username" id="UserUpdate" required>
	</div>
	<div class="group">
		<input type="password" name="password" placeholder="Password" id="passUpdate" required>
	</div>
	<div class="group">
		<input type="email" name="email" placeholder="Email" id="emailUpdate" required>
	</div>
	<div class="group">
		<input type="number" name="phone" placeholder="Phone" id="phoneUpdate" required>
	</div>
	<div class="group">
		<button type="submit" id="submitUpdate">Update</button>
	</div>
</form>

</xmp>
		<p>Untuk mempercantik tampilan ada tambahan Js</p>
<xmp>
$('#formUser').hide();
$('#formUpdate').hide();
$('#Add').click(function(){
	$('#formUser').show();
	$('#table').hide();
	$('#formUpdate').hide();
})
$('#view').click(function(){
	$('#formUser').hide();
	$('#table').show();
	$('#formUpdate').hide();
})
function edit(id){
	$('#formUser').hide();
	$('#table').hide();
	$('#formUpdate').show();
}

</xmp>
		<h2>Tambah User</h2>
<xmp>
router.post('/user', function(req,res,next){
	var data = user.findOne({username:req.body.username});
	data.exec(function(err, result){
		if (result==null) {
			bcrypt.hash(req.body.password, saltRound, function(err, hash){
				var datauser = new user ({
					username : req.body.username,
					password : hash,
					email : req.body.email,
					phone : req.body.phone
				})
				datauser.save(function(err){
					if (err) {
						console.log(err)
					}
				});
				console.log('berhasil di tambah');
				res.json({message:"berhasil"});
			});
		} else {
			res.json({message: "username sudah terpakai"})
		}
	});
})

</xmp>
		<p>Tampilan tambah User</p>
		<img src="/img/adduser.png" alt="">
		<h2>View all user</h2>
<xmp>
router.get('/user' ,function(req,res,next){
	var data = user.find();
	data.exec(function(err,result){
		if (err)  return handleError(err);
		res.json({result}).status(200);
	})
})

</xmp>
		<p>Tampilan view all</p>
		<img src="/img/tryview.png" alt="">
		<h2>Update user</h2>
<xmp>
router.put('/user/:id', function(req,res,next){
	var data = user.findOne({"_id":req.params.id});
	data.exec(function(err,result){
		if (result==null) {
			res.status(404).json({message : "not found"});
		} else {
			var dataold = {'_id': req.params.id};
			var datanew = {$set : req.body};
			var options = {};
			user.update(dataold, datanew, options, callback)
			function callback(err,numAffected){
				res.json({message: "update sukses"}).status(200);
			}
		}
	})
})

</xmp>
		<p>Tampilan update user</p>
		<img src="/img/updateuser.png" alt="">
		<h2>Delete user</h2>
<xmp>
router.delete('/user/:id', function(req,res,next){
	var data = user.findOne({'_id':req.params.id});
	data.exec(function(err, result){
		if (result==null) {
			res.status(404).json({message : 'Not found'});
		} else {
			var data = user.remove({'_id':req.params.id});
			data.exec(function(err, result){
				if (err) {
					console.log(err);
				} else {
					res.json({message : "data terhapus"}).status(404);
				}
			})
		}
	})
})

</xmp>
		<h2>Penutup</h2>
		<p>Dengan menyelesaikan tutorial ini, Anda dapat menguasai validasi dan menggunakan metode PUT dan DELETE, di Express.js. Tidak hanya itu Anda pun dapat mengetahui pembuatan CRUD dasar, sebelum membuat CRUD lainnya di tutorial ini. Tujuan dari tutorial ini adalah membuat aplikasi web yang cukup kompleks dimana Anda dapat membuat aplikasi yang dapat mengelola sebuah keanggotaan dan kepengurusan di organisasi.</p>
	</div>
</div>