<div class="sidebar">
	<div class="navi"><a href="#">Persiapan</a> </div>
	<div class="navi"><a href="#">Schema</a> </div>
	<div class="navi"><a href="#">Login</a> </div>
	<div class="navi"><a href="#">Logout</a> </div>
	<div class="navi"><a href="#">Penutup</a> </div>
</div>

<div class="content">
	<div class="content-1">
		<div class="express"><i>LOGIN</i></div>
		<div class="title">
			Login Aplikasi Dengan Express.js
			<div class="sub">
				Belajar membuat aplikasi web dengan menggunakan framework express.js
			</div>
		</div>
	</div>
	<div class="content-form">
		<h2>Persiapan</h2>
		<p>Disini saya mengunakan yeoman (yo). Pilih Express, MVC, Handlebars, Sass, MongoDB, Grunt</p>
<xmp>
$ npm install -g yo
$ yo
</xmp>
		<h2>Membuat Schema</h2>
		<p>Membuat Schema di models dengan nama user.js</p>
<xmp>
var mongoose = require('mongoose'),
	Schema = mongoose.Schema;
	mongoose.Promise = global.Promise;

var UserSchema = new Schema({
	username : String,
	password : String,
	email	 : String,
	phone	 : Number
});

mongoose.model('User', UserSchema);
</xmp>
		<h2>Membuat Login</h2>
		<p>Untuk login perlu menginstall jsonwebtoken untuk memberikan token disetiap login user. Install bcrypt untuk mengenkripsi password. Install local-storage untuk menyimpan token.</p>
<xmp>
$ npm install jsonwebtoken --save
$ npm install bcrypt --save
$ npm install local-storage --save
</xmp>
		<p>Tambahan yang sudah di install terdapat pada controller user.js</p>
<xmp>
const saltRound = 10;
var jwt = require('jsonwebtoken');
var bcrypt = require('bcrypt');
var ls = require('local-storage');
var express = require('express');
	app = express();
	router = express.Router();
	mongoose = require('mongoose');
	user = mongoose.model('User');

module.exports = function(app) {
	app.use('/v1', router);
};
</xmp>
		<p>Membuat router login di controller user.js</p>
<xmp>
app.set('superSecret', ' ');
router.post('/login', function(req,res,next){
	var data = user.findOne({username:req.body.username});
	data.exec(function(err,result){
		if (result==null) {
			res.status(401).json({message:"Username tidak terdaftar"});
		} else {
			bcrypt.compare(req.body.password, result.password, function(err, compare){
				if (compare==true) {
					var token = jwt.sign(result, app.get('superSecret'),{
										 expiresIn : 60*60
					});
					ls.set('token', token);
					res.json({message: "Login berhasil",
						token:token}).status(200);
				} else {
					res.status(409).json({message:"Password salah"});
				}
			})
		}
	})
})
</xmp>
		<p>Lihatnya di postman</p>
		<img src="/img/login.png" alt="">
		<h2>Membuat Logout</h2>
		<p>Membuat router logout di controller user.js</p>
<xmp>
router.post('/logout', function(req,res,next){
	var decoded = jwt.decode(ls.get('token'));
	if (decoded==null) {
		res.json({message: "token tidak ditemukan"}).status(404);
	} else {
		var id_username = decoded.$__.id;
		ls.clear(id_username);
		res.json({message:"logout berhasil"}).status(404);
	};
})
</xmp>
		<h2>Penutup</h2>
		<p>Dengan Express.js, Anda sudah dapat membuat login sederhana dan juga membuat model User.</p>
	</div>
</div>