<div class="sidebar">
	<div class="navi"><a href="#1">Instalasi</a> </div>
	<div class="navi"><a href="#">Routing</a></div>
	<div class="navi"><a href="#">Variable</a></div>
	<div class="navi"><a href="#">Respone Json</a></div>
	<div class="navi"><a href="#">Request POST</a></div>
	<div class="navi"><a href="#">Request GET</a></div>
	<div class="navi"><a href="#">Request PUT</a></div>
	<div class="navi"><a href="#">Request DELETE</a></div>
	<div class="navi"><a href="#">Penutup</a></div>
</div>

<div class="content">
	<div class="content-1">
		<div class="express"><i>INTRO</i></div>
		<div class="title">
			Intro Aplikasi Dengan Express.js
			<div class="sub">
				Belajar membuat aplikasi web dengan menggunakan framework express.js
			</div>
		</div>
	</div>
	<div class="content-intro">
		<h2 id="1">Instalasi</h2>
		<p>Harus menginstal Node.js dan Npm terlebih dahulu</p>
<xmp>
$ sudo apt-get install nodejs
$ sudo apt-get install npm
</xmp>
		<p>Disini saya menggunakan Yeoman (yo)</p>
<xmp>
$ npm install -g yo
$ yo
</xmp>	
		<h2>Routing di Express.js</h2>
		<p>File penting di home.js</p>
<xmp>
var express = require('express'),
  router = express.Router(),
  mongoose = require('mongoose'),
  Article = mongoose.model('Article');

module.exports = function (app) {
  app.use('/', router);
};

router.get('/', function (req, res, next) {
  Article.find(function (err, articles) {
    if (err) return next(err);
    res.render('index', {
      title: 'Generator-Express MVC',
      articles: articles
    });
  });
});
</xmp>
		<h2>Menggirim variable ke template</h2>
<xmp>
<h1>{ {title} }</h1>
welcome to { {title} }
</xmp>
		<p>Tampilan awal</p>
		<img src="/img/welcome.png" alt="">
		<p>Lihat juga di package.json</p>
<xmp>
{
  "name": "node-js-tutorial",
  "version": "0.0.1",
  "private": true,
  "main": "app.js",
  "scripts": {
    "start": "node app.js",
    "test": "NODE_ENV=test mocha --recursive test",
    "test:coverage": "nyc npm test",
    "test:unit": "mocha --recursive test/middleware test/models test/routes",
    "test:integration": "mocha --recursive test/integration"
  },
  "dependencies": {
    "express": "^4.13.3",
    "serve-favicon": "^2.3.0",
    "morgan": "^1.6.1",
    "cookie-parser": "^1.3.3",
    "body-parser": "^1.13.3",
    "compression": "^1.5.2",
    "method-override": "^2.3.0",
    "glob": "^6.0.4",
    "mongoose": "^4.1.2",
    "express-handlebars": "^3.0.0"
  },
  "devDependencies": {
    "chai": "^3.5.0",
    "debug": "^2.2.0",
    "grunt": "^1.0.1",
    "grunt-develop": "^0.4.0",
    "grunt-contrib-sass": "^1.0.0",
    "grunt-contrib-watch": "^1.0.0",
    "request": "^2.60.0",
    "time-grunt": "^1.2.1",
    "load-grunt-tasks": "^3.2.0",
    "mocha": "^3.0.2",
    "nyc": "^10.0.0",
    "supertest": "^2.0.0"
  }
}
</xmp>
		<p>Lihat juga di confiq.js</p>
<xmp>
var path = require('path'),
    rootPath = path.normalize(__dirname + '/..'),
    env = process.env.NODE_ENV || 'development';

var config = {
  development: {
    root: rootPath,
    app: {
      name: 'node-js-tutorial'
    },
    port: process.env.PORT || 3000,
    db: 'mongodb://localhost/node-js-tutorial-development'
  },

  test: {
    root: rootPath,
    app: {
      name: 'node-js-tutorial'
    },
    port: process.env.PORT || 3000,
    db: 'mongodb://localhost/node-js-tutorial-test'
  },

  production: {
    root: rootPath,
    app: {
      name: 'node-js-tutorial'
    },
    port: process.env.PORT || 3000,
    db: 'mongodb://localhost/node-js-tutorial-production'
  }
};

module.exports = config[env];

</xmp>
		<p>Mengenal template HTML</p>
<xmp>
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
  {{{body}}}
  	<script src="/components/jquery/dist/jquery.min.js"></script>
	<script src="js/main.js"></script>
  </body>
</html>

</xmp>
		<h2>Menampilkan Respone Json</h2>
<xmp>
router.get('/', function (req, res, next) {
  Article.find(function (err, articles) {
    if (err) return next(err);
    res.json({
      message : 'pesan',
      user :{ name: 'jaya', email : 'akujaya14@gmail.com'}
    })
  });
});
</xmp>
		<p>Tampilan Json</p>
		<img src="/img/json.png" alt="">
		<h2>Menerima Request POST</h2>
		<p>Di models</p>
<xmp>
var mongoose = require('mongoose'),
	Schema = mongoose.Schema;
	mongoose.Promise = global.Promise;

var UserSchema = new Schema({
	username : String,
	email	 : String,
	phone	 : Number
});

mongoose.model('User', UserSchema);
</xmp>
		<p>Di controller</p>
<xmp>
var express = require('express');
	app = express();
	router = express.Router();
	mongoose = require('mongoose');
	user = mongoose.model('User');

module.exports = function(app) {
	app.use('/v1', router);
};

router.post('/user', function(req,res,next){
	var data = user.findOne({username:req.body.username});
	data.exec(function(err, result){
		var data = new user ({
			username : req.body.username,
			email : req.body.email,
			phone : req.body.phone
		})
		data.save(function(err){
			if (err) {
				console.log(err)
			} else {
				console.log('berhasil di tambah');
			}
		});
	});

})
</xmp>
		<p>Layout html</p>
<xmp>
<form id="formUser"  class="content">
	<div class="group">
		<input type="text" name="username" placeholder="Username">
	</div>
	<div class="group">
		<input type="email" name="email" placeholder="Email">
	</div>
	<div class="group">
		<input type="number" name="phone" placeholder="Phone">
	</div>
	<div class="group">
		<button type="submit" id="submitUser">Submit</button>
	</div>
</form>
</xmp>
		<p>Untuk mengambil data saya pake ajax dari jquery</p>
<xmp>
$('#submitUser').click(function(e){
	e.preventDefault();
	datas = $('#formUser').serialize();
	console.log(datas);
	$.ajax({
		type : "POST",
		url  : "http://localhost:3000/v1/user",
		data : datas,
		success : function(data){
			console.log('berhasil');
			window.location.href="/try";
		},
		error : function(err){
			console.log('error');
		}
	})
})
</xmp>
		<p>Tampilan form</p>
		<img src="/img/form.png" alt="">
		<p>Tampilan Json</p>
		<img src="/img/fjson.png" alt="">
		<h2>Request GET</h2>
		<p>Di controller</p>
<xmp>
router.get('/user' ,function(req,res,next){
	var data = user.find();
	data.exec(function(err,result){
		if (err)  return handleError(err);
		res.json({result}).status(200);
	})
})
</xmp>
		<p>Di tampilan</p>
		<img src="/img/get.png" alt="">
		<h2>Request PUT</h2>
		<p>Di controller</p>
<xmp>
router.put('/user/:id', function(req,res,next){
	var data = user.findOne({"_id":req.params.id});
	data.exec(function(err,result){
		if (result==null) {
			res.status(404).json({message : "not found"});
		} else {
			var dataold = {'_id': req.params.id};
			var datanew = {$set : req.body};
			var options = {};
			user.update(dataold, datanew, options, callback)
			function callback(err,numAffected){
				res.json({message: "update sukses"}).status(200);
			}
		}
	})
})

</xmp>
		<p>Lihatnya di postman</p>
		<img src="/img/upman.png" alt="">
		<p>Di tampilan</p>
		<img src="/img/update.png" alt="">
		<h2>Request DELETE</h2>
		<p>di controller</p>
<xmp>
router.delete('/user/:id', function(req,res,next){
	var data = user.findOne({'_id':req.params.id});
	data.exec(function(err, result){
		if (result==null) {
			res.status(404).json({message : 'Not found'});
		} else {
			var data = user.remove({'_id':req.params.id});
			data.exec(function(err, result){
				if (err) {
					console.log(err);
				} else {
					res.json({message : "data terhapus"}).status(404);
				}
			})
		}
	})
})
</xmp>
		<p>Lihatnya di postman</p>
		<img src="/img/delete.png" alt="">
		<h2>Penutup</h2>
		<p>Sebagai awalan, semoga tutorial ini dapat cukup dipahami untuk lanjut ke tutorial Express.js berikutnya yang akan mengenal lebih dalam bagaimana membuat aplikasi web dengan Express.js dan MongoDB. Untuk mempelajari Node.js dan Express.js ini, Anda memerlukan kemauan tinggi dan harus mencari resource sendiri. Karena masih sedikit perguruan tinggi atau SMK yang mau mengajarkan Node.js ataupun Express.js. Semoga bermanfaat :D.</p>
	</div>
</div>