<div class="sidebar">
	<div class="navi"><a href="#">Persiapan</a> </div>
</div>
<div class="content">
	<div class="content-1">
		<div class="express"><i>PAGING</i></div>
		<div class="title">
			Paging Aplikasi Dengan Express.js
			<div class="sub">
				Belajar membuat aplikasi web dengan menggunakan framework express.js
			</div>
		</div>
	</div>
	<div class="content-paging">
		<h2>Upload</h2>
		<form id="frmUploader" enctype="multipart/form-data" action="/v1/api/Upload/" method="post"> 
        <input type="file" name="imgUploader" multiple /> 
        <input type="submit" name="submit" id="btnSubmit" value="Upload" /> 
    </form> 
	</div>
</div>