<div class="sidebar">
	<div class="navi"><a href="#">Aset</a> </div>
	<div class="navi"><a href="#">Main</a> </div>
	<div class="navi"><a href="#">Index</a> </div>
	<div class="navi"><a href="#">Penutup</a> </div>
</div>

<div class="content">
	<div class="content-1">
		<div class="express"><i>TEMPLATE</i></div>
		<div class="title">
			Template Aplikasi Dengan Express.js
			<div class="sub">
				Belajar membuat aplikasi web dengan menggunakan framework express.js
			</div>
		</div>
	</div>
	<div class="content-template">
		<h2>Meletakkan aset statis di folder public</h2>
		<img src="/img/aset.png" alt="">
		<h2>Template main.handlebars</h2>
		<p>Disertai navigation</p>
<xmp>
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
	<div class="header">
		<a href="/"><img src="img/logo.png" alt="" class="logo"></a> 
		<div class="nav">
			<div class="title">
				<a href="/">Learn Node.js</a>
			</div>
			<div class="navi"><a href="/intro">Intro</a></div>
			<div class="navi"><a href="/template">Template</a></div>
			<div class="navi"><a href="#">Form</a></div>
			<div class="navi"> <a href="#">CRUD#1</a> </div>
			<div class="navi"> <a href="#">CRUD#2</a> </div>
			<div class="navi"> <a href="#">CRUD#3</a> </div>
			<div class="navi"> <a href="#">Paging</a> </div>
			<div class="navi"> <a href="/try">Try</a> </div>
		</div>
	</div>
  {{{ body }}} 
  	<script src="/components/jquery/dist/jquery.min.js"></script>
	<script src="js/main.js"></script>
  </body>
</html>

</xmp>
		<h2>Template index.handlebars</h2>
<xmp>
<div class="content">
	<div class="content-1">
		<div class="express"><i>EXPRESS</i></div>
		<div class="title">
			Membuat Aplikasi Dengan Express.js
			<div class="sub">
				Belajar membuat aplikasi web dengan menggunakan framework express.js
			</div>
		</div>
	</div>
	<div class="content-2">
	</div>
</div>
</xmp>
		<p>Tampilan</p>
		<img src="/img/index.png" alt="">
		<h2>Penutup</h2>
		<p>Dengan menggunakan template engine seperti handlebars, diharapkan kita dapat membuat halaman website yang dinamis dan reusable. Template engine seperti handlebars mengakomodasi web developer yang masih menggunakan cara konvensional dalam membangun halaman web namun ingin ditenagai oleh Node.js.</p>
	</div>
</div>