<div class="sidebar">
	<div class="navi" id="Add">Add</div>
	<div class="navi" id="view">View</div>
</div>
<div class="content">
	<table id="table">
		<thead>
			<th>No.</th>
			<th>Username</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Action</th>
		</thead>
		<tbody id="showData">
			
		</tbody>
	</table>
	<div class="paging">
		
	</div>
</div>

<form id="formUser"  class="content">
	<h3>Add</h3>
	<div class="group">
		<input type="text" name="username" placeholder="Username" required>
	</div>
	<div class="group">
		<input type="password" name="password" placeholder="Password" required>
	</div>
	<div class="group">
		<input type="email" name="email" placeholder="Email" required>
	</div>
	<div class="group">
		<input type="number" name="phone" placeholder="Phone" required>
	</div>
	<div class="group">
		<button type="submit" id="submitUser">Submit</button>
	</div>
</form>

<form id="formUpdate"  class="content">
	<h3>Update</h3>
	<div class="group">
		<input type="text" name="username" placeholder="Username" id="UserUpdate" required>
	</div>
	<div class="group">
		<input type="password" name="password" placeholder="Password" id="passUpdate" required>
	</div>
	<div class="group">
		<input type="email" name="email" placeholder="Email" id="emailUpdate" required>
	</div>
	<div class="group">
		<input type="number" name="phone" placeholder="Phone" id="phoneUpdate" required>
	</div>
	<div class="group">
		<button type="submit" id="submitUpdate">Update</button>
	</div>
</form>