<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
	<div class="header">
		<a href="/"><img src="img/logo.png" alt="" class="logo"></a> 
		<div class="nav">
			<div class="title">
				<a href="/">Learn Node.js</a>
			</div>
			<div class="navi"><a href="/intro">Intro</a></div>
			<div class="navi"><a href="/template">Template</a></div>
			<div class="navi"><a href="/form">Login</a></div>
			<div class="navi"> <a href="/crud">CRUD</a> </div>
			<div class="navi"> <a href="/paging">Paging</a> </div>
			<div class="navi"> <a href="/try">Try</a> </div>

		</div>
	</div>

  {{{body}}}

  <div class="footer">
  	<div class="referen">Referensi 
	  <a href="https://www.codepolitan.com/coder/arslan" target="_blank">Muhammad Arslan</a>	
  	</div>
  	<div class="me">Editing By <a href="https://www.instagram.com/rahmadjaya_/" target="_blank">Rahmad Wijaya</a> </div>
  </div>
  	<script src="/components/jquery/dist/jquery.min.js"></script>
	{{!-- // <script src="js/paging.js"></script> --}}
	<script src="js/main.js"></script>
  </body>
</html>
